/* css */
@font-face{
	src: url('https://fonts.googleapis.com/css?family=Lato');
}

* {
 	margin: 0px;
 	padding: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}

.info h1 {
	width: 100%;
	font-size: 65px;
	letter-spacing: 2px;
	padding-top: 255px;
}

.info p {
	font-size: 20px;
	opacity: 0.75;
	padding-top: 10px;
}

.media ul {
	margin: 10px 5px;
}

.media li {
	display: inline-block;
	position: relative;
	margin: 10px 10px;
}

.media li a {
	display: inline-block;
	border: solid 1.5px #000;
	border-radius: 100%;
	color: #000;
	width: 65px;
	height: 65px;
	line-height: 65px;
	font-size: 28px;
	text-decoration: none;	
}

.media li a:hover {
	background: #000;
  	border: 1px solid #fff;
  	color: #fff;
}

.label {
	display: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
	margin-top: 10px;
	font-size: 11px;
}
